<h1>Login</h1>
<% if (messages.error) { %>
 <%= messages.error %>
 <% } %>
<div>
    <form action="login" method="POST">
        
        <div>
            <label for="email">E-Mail:</label>
        <input type="email" name="email" required>
        </div>

        <div>
            <label for="password">Password:</label>
        <input type="password" name="password" required>
        </div>
       <button type="submit">Login</button>
    </form>
    <a href="/register">Register</a>

    <div>
        <a href="/auth/google">Authaunticate with Google</a>
    </div>
</div>